/* * * * * * * * * * * * * * * */
/*      PAGE DISPOSITION       */
/* * * * * * * * * * * * * * * */

/*border: 1px solid black;*/

.match_list
{
    position: absolute;
    margin-top: 1%;
    margin-left: 4%;
    height: 79%;
    width: 44%;
    float: left;
}

.chat
{
    position: absolute;
    margin-top: 1%;
    margin-left: 52%;

    height: 79%;
    width: 44%;
    overflow-y: auto;
}

.blocks
{
    background-color: #faf5f3;
    opacity: 0.44;
}

.conversation
{
    width: 100%;
    height: 100px;
    transition: .55s;
    background: white;
    overflow: hidden;
    display: inline-block;
}

.conversation_big
{
    width: 100%;
    height: 100%;
    transition: .15s;
    background: rgba(255, 255, 255, 0.7);
}

.conversation_pp
{
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 140px;
    margin-top: 23px;
    align-items: center;
    top: 0;
    margin-left: 2%;
    cursor: pointer;
}

.last_message
{
    width: 45%;
    margin-left: 80px;
    margin-top: 10px;
    font-family: font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}



/* * * * * * * * * * * * * * * */
/*   MESSAGE SENDING FEATURE   */
/* * * * * * * * * * * * * * * */

.sending
{
    position: relative;
    width: 100%;
    height: 50px;
}

.imput_text, .child
{
    position: absolute;
    float: left;
    width: 80%;
    height: 100%;
    background: none repeat scroll 0 0 rgb(226, 220, 220);
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-style: none solid solid none;
    /*border-width: medium 1px 1px medium;*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    font-size: 1em;
    line-height: 1.4em;
    transition: background-color 0.2s ease 0s;
    resize: none;
}

.imput_text:focus
{
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

.send_button, .child
{
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    float: right;
    right: 0;
    width: 20%;
    height: 100%;
    background: #4d5563;

    /*box-sizing: border-box;*/
    border: 0.25px solid;
    /*border-radius: 0.6em;*/
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;

    border-color: #4d5563;
    /*border-radius: 0;*/
    transition: color .50s;
}

.send_button:hover
{
    background: #7b7e82;
    border-color: #7b7e82;
    transition: .50s;
    color: #fff;
}

.send_button:active
{
    background: white;
}


.user_src
{
    text-align: right;
    margin-right: 95px;
    font-size: 10px;
}

.user_dst
{
    text-align: left;
    margin-left: 20px;
    font-size: 10px;
}

.seen
{
    position: absolute;
    text-align: right;
    right: 5px;
    font-size: 10px;
    top: -26px;
    z-index: 999999999999;
}



/* * * * * * * * * * * * * * * */
/*       BUBBLES FEATURE       */
/* * * * * * * * * * * * * * * */

.bubbles .bubble .fill_bubble
{
    margin-top: 2px;
    margin-bottom: 4px;
    background: #bcbcbc;
    padding: 4px 10px;
    display: inline-block;
    border-radius: 13px;
    max-width: 100%;
    max-width: 300px;
}

.bubbles .bubble.me
{
    text-align: right;
    margin-right: 90px;
    word-break: break-all;
}

.bubbles .bubble.me .fill_bubble
{
    background: #d85656;
    color: white;
    border-radius: 13px;
    display: inline-block;
}

.bubbles .bubble.them
{
    text-align: left;
    margin-left: 15px;
    word-break: break-all;
}



/* * * * * * * * * * * * * * * */
/*     CROSS DELETE BUTTON     */
/* * * * * * * * * * * * * * * */

.outer
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin-top: -2.5%;
    margin-right: 35px;
    cursor: pointer;
    clear: both;
}

.outer_big
{
    position: relative;
    float: right;
    top: -35px;
    margin-right: 35px;
    cursor: pointer;
    z-index: 1000;
    background: white;
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.cross
{
  margin-right: 40px;
  float: right;
  position: absolute;
  opacity: 0.3;
  left: 12.71px;
}

.cross:hover
{
  opacity: 1;
}

.cross:before, .cross:after
{
  position: absolute;
  content: ' ';
  height: 27px;
  width: 5px;
  background-color: #333;
  transition: .25s;
}

.cross:before
{
   transform: rotate(45deg);
}

.cross:after
{
    transform: rotate(-45deg);
}

/*    MATCHES     */

.match_pp
{
    position: relative;
    float: left;
    width: 90px;
    height: 90px;
    border-radius: 140px;
    margin-top: 5px;
    align-items: center;
    top: 0;
    margin-left: 5%;
    cursor: pointer;
}

.cover
{
    background: black;
    opacity: 0.5;
}


.n_profile
{
    margin-top: 40px;
    margin-left: 5%;
    height: 50px;
    width: 50px;
    float: left;
    cursor: pointer;
    display: inline-block;

}

.l_profile
{
    margin-top: 25px;
    margin-right: 2%;
    height: 45px;
    width: 45px;
    float: right;
    cursor: pointer;
    display: inline-block;

}

.m_profile
{
    margin-top: 25px;
    margin-right: 2%;
    height: 45px;
    width: 45px;
    float: right;
    cursor: pointer;
    display: inline-block;
}


/* * * * * * * * * * * * * * * */
/*             END             */
/* * * * * * * * * * * * * * * */
