/*  AUTH STYLE  */

/*   ALERT CSS HEAD BAND     */
.hidden { display:none; }

.alert
{
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn
{
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover { color: black; }

/*                    */

.auth_form
{
    background-color: #faf5f3;
    width: 280px;
    top: 100px;
    margin-bottom: 50px;
    position: absolute;
    z-index: 10;
    padding: 60px 60px 80px;
    margin: 0 auto;
    left: 0;
    right:0;
    opacity: 0.74;
}

.sign_in_field
{
    width: 100%;
    background: #fff;
    text-align: center;
    margin-bottom: 25px;
    box-shadow: none;
    appearance: none;
    border: none;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid $gray-dk;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 11px;
    position: relative;
    z-index: 500;
    letter-spacing: 0.06em;
}

/*              */

.center
{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.line
{
    width: 60%;
    height: 40px;
    background: #cce6ff;
}

.line:hover
{
    background-color:#f2f2f2;
}

.delete_button
{
    width: 60px;
    height: 20px;
    background: #ffe6e6;
    border-radius: 4px 4px 4px;
    border: solid 1px #ffcccc;
}

.add_button
{
    width: 60px;
    height: 20px;
    border-radius: 4px 4px 4px;
    background: #ccffcc;
    border: solid 1px #b3ffb3;
}

.table_todo
{
    width: 60%;
}

.final_todo
{
    background: #e6e6e6;
    margin-left: auto;
    margin-right: auto;
    height: 60%;
    width: 20%;
    border: solid 1px #bfbfbf;
}

.field_label
{
    width: 60%;
    line-height: 30px;
    display: flex;
    float: left;
}

.field_input
{
    display: flex;
    float: right;
    width: 40%;
}

.field
{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 30px;
    width: 400px;
}


.field_red
{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 30px;
    width: 400px;
    border: solid 1px red;
}


/*NEW THINGS*/
html, body
{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: url("../resources/bg.jpg");
    /*background-repeat:no-repeat;*/
    /*background-size: cover;*/
}


/*                                                    */
/*Notification div, usable in each notification cases.*/
/*                                                    */

.base
{
  margin:     0;
  padding:    0;
  font-size:  0;
  box-sizing: border-box;
  z-index: 40000;
}

.notification_container
{
    position: absolute;
    right:     0;
    width:     400px;
    overflow: hidden;
    z-index: 40000;
}

.notification
{
  display:   inline-block;
  position:  relative;
  margin:    10px auto;
  padding:   20px;
  width:     100%;
  max-width: 400px;
  opacity:   0.8;
  background:     #d9dbdd;
  border-radius:  120px;
  overflow: hidden;
  word-break: break-all;
  z-index: 40000;
}

.notification_pp
{
   float:    left;
   width:    65px;
   height:   65px;
   border-radius: 60px;
   display:  inline-block;
   vertical-align: middle;
   z-index: 40000;
}

.notification-close
{
  position: absolute;
  top:      45px;
  right:    30px;
  width:    18px;
  height:   18px;
  cursor:   pointer;
  font-size:     18px;
  text-align:    center;
  line-height:   15px;
  border-radius: 50px;
}

.notification-title,.notification-message
{
  color: #72777c;
}

.notification-title
{
  right:       15px;
  font-size:   16px;
  font-weight: 600;
}

.notification-message
{
  right:       15px;
  font-size:   14px;
  font-weight: 400;
}

.notification-close
{
  color:  #72777c;
  border: 1px solid #72777c;
}

#container {
   min-height:100%;
   position:relative;
}

#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:150px;   /* Height of the footer */
   z-index: -1;
}


.error_search
{
    margin-top: 10px;
    font-weight: bold;
    color: white
}

html,
body {
   margin:0;
   padding:0;
   height:auto;
}

/* How to use the notification.


<div class="notification_container">
  <div class="notification base">
    <div class="base"><img class="notification_pp base" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Circle_-_black_simple.svg/2000px-Circle_-_black_simple.svg.png"></></div>
    <span class="notification-close base">&times;</span>
    <h3 class="notification-title base">You've got a message !</h3>
    <p class="notification-message base">Cogito ergo sum.</p>
  </div>
</div>

*/
